html {
    font-family: 'Poppins', sans-serif !important;
}

.banner {
    background-image: url('../img/Banner.jpeg'); background-size: cover; background-repeat: no-repeat; background-position: center center;
}

.banner h2, .banner p {
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}

.lowTracking {
    animation-name: low-tracking;
    animation-duration: 2s;
}

.highTracking {
    animation-name: high-tracking;
    animation-duration: 2s;
}

@keyframes low-tracking {
    0% {letter-spacing: 0px;}
    100% {letter-spacing: 4px;}
}

@keyframes high-tracking {
    0% {letter-spacing: 1px;}
    100% {letter-spacing: 14px;}
}

.waved {
    background-image: url("../img/Wave.svg"); background-size: cover; background-repeat: no-repeat; background-position: center center;
}

.product h2 {
    -webkit-text-stroke: 1px white;
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 1);
}

.line-limit-2 {
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2;
    line-clamp: 2;
   -webkit-box-orient: vertical;
}

.opened {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.brace {
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 90% 50%, 100% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 90% 50%, 100% 0);
}

.content {
    margin-top: 100px;
}

@media (min-width: 400px) {
    .brace {
        -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 95% 50%, 100% 0);
        clip-path: polygon(0 0, 0 100%, 100% 100%, 95% 50%, 100% 0);
    }
}